<div ng-model="UsersController">
<div class="form">
      <ul class="tab-group">
        <li class="tab"><a href="#/signup">Sign Up</a></li>
        <li class="tab active"><a href="#/login">Log In</a></li>
      </ul>
  <!-- <h3>Sign Up</h3 -->
      <div class="tab-content">
        <div id="login">
          <h1>Welcome Back!</h1>

          <form  method="post">

            <div class="field-wrap">
            <input type="email"required placeholder="Email Address" autocomplete="off"/>
          </div>

          <div class="field-wrap">
            <input type="password" placeholder="Password" required autocomplete="off"/>
          </div>

          <a href="#/dashboard" class="button button-block text-center"/>Log In</a>

          </form>

        </div>
        <div id="signup">
          <h1>Sign Up for Free</h1>

          <form  method="post">

          <div class="top-row">
            <div class="field-wrap">
              <label>
                First Name<span class="req">*</span>
              </label>
              <input type="text" required autocomplete="off" />
            </div>

            <div class="field-wrap">
              <label>
                Last Name<span class="req">*</span>
              </label>
              <input type="text"required autocomplete="off"/>
            </div>
          </div>

          <div class="field-wrap">
            <label>
              Email Address<span class="req">*</span>
            </label>
            <input type="email"required autocomplete="off"/>
          </div>

          <div class="field-wrap">
            <label>
              Set A Password<span class="req">*</span>
            </label>
            <input type="password"required autocomplete="off"/>
          </div>

          <a href="#/dashboard" class="button button-block"/>Get Started</a>

          </form>

        </div>
</div>
</div>
</div>