<div ng-controller='xxx'>
<h4> Fill up for tax deductions </h4>
<form class='form-inline'>
				<div class="form-group">
					<div class="col-sm-12">
						Amount of student loan interest paid<input type="text" class="form-control" name="amount_of_student_loan_interest_paid" ng-model='xxx'><br>

						Amount of medical and dental expenses paid<input type="text" class="form-control" name="amount_of_medical_and_dental_expenses_paid" ng-model='xxx'><br>

						Amount of taxes paid<input type="text" class="form-control" name="amount_of_taxes_paid" ng-model='xxx'><br>

						Amount of mortgage interest paid<input type="text" class="form-control" name="amount_of_mortgage_interest_paid" ng-model='xxx'><br>

						Amount of charitable contributions<input type="text" class="form-control" name="amount of charitable contributions" ng-model='xxx'><br>
					</div>
				</div>
				<button type="submit" class="btn btn-primary" ng-click='xxxx'>Submit</button>
			</form>