<div ng-controller='xxx'>

            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2>Profile Setup</h2>
                    <hr class="star-primary">
                </div>
            </div>
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2">
                    <form name="profile_setup" id="profile_setup" >
                        <div class="row control-group">
                            <div class="form-group col-xs-12 floating-label-form-group controls">
                                <label>First Name</label>
                                <input type="text" class="form-control" placeholder="First Name" id="first_name">
                                <label>Middle Name Initial</label>
                                <input type="text" class="form-control" placeholder="Middle Name Initial" id="middle_name_initial">
                                <label>Last Name</label>
                                <input type="text" class="form-control" placeholder="Last Name" id="last_name">
                            </div>
                        </div>
                        <div class="row control-group">
                            <div class="form-group col-xs-12 floating-label-form-group controls">
                                <label>Social Security Number</label>
                                <input type="text" class="form-control" placeholder="Social Security Number" id="social_security_number">
                                 <label>Date of Birth</label>
                                <input type="text" class="form-control" placeholder="Date of Birth" id="date_of_birth">
                                <label>Occupation</label>
                                <input type="text" class="form-control" placeholder="Occupation" id="occupation">
                                 <label>Personal Status</label>
                                <select class='form-control' id='personal_status'>
										<option>Married</option>
										<option>Single</option>
								</select>
                            </div>
                        </div>
                        <div class="row control-group">
                            <div class="form-group col-xs-12 floating-label-form-group controls">
                                <label>Phone Number</label>
                                <input type="tel" class="form-control" placeholder="Phone Number" id="phone" >
                                <label>email</label>
                                <input type="email" class="form-control" placeholder="Email Address" id="email">
                            </div>
                        </div>
                        
                        <br>
                        <div class="row">
                            <div class="form-group col-xs-12">
                                <button ng-click='xxxxx' class="btn btn-success btn-lg">Submit</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
  