<div ng-controller='xxx'>
<h4>Incomes</h4>
<form class='form-inline'>
				<div class="form-group">
					<div class="col-sm-12">
						Taxable wages<input type="text" class="form-control" name="taxable_wages" ng-model='xxx'><br>

						Net Business income (or loss)<input type="text" class="form-control" name="net_businesss_income" ng-model='xxx'><br>

						Federal taxes withheld and estimated payments<input type="text" class="form-control" name="federal_taxes_withheld and_estimated_payments" ng-model='xxx'><br>

						Interest income<input type="text" class="form-control" name="interest_income" ng-model='xxx'><br>

						Unemployment income<input type="text" class="form-control" name="unemployment_income" ng-model='xxx'><br>

						Dividend income<input type="text" class="form-control" name="dividend_income" ng-model='xxx'><br>

						Qualified dividends<input type="text" class="form-control" name="qualified dividends" ng-model='xxx'><br>

						Dividend income<input type="text" class="form-control" name="dividend_income" ng-model='xxx'><br>

						State tax refund<input type="text" class="form-control" name="state tax refund" ng-model='xxx'><br>

						Other taxable income<input type="text" class="form-control" name="other_taxable_income" ng-model='xxx'><br>

					</div>

				</div>
				<button type="submit" class="btn btn-primary" ng-click='xxxx'>Submit</button>
			</form>