<div class="blue">
<div class="navbar navbar-default navbar-static-top" role="navigation">
<div class="navbar-header">
<a class="navbar-brand" href="#/dashboard">EZTax</a>
</div>
<div class="navbar-collapse collapse">
<ul class="nav navbar-nav">
<li class="active"><a href="#/dashboard">Home</a></li>
<li><a href="#/dashboard">FAQ</a></li>
<li><a href="#/dashboard">Contact</a></li>
</ul>
<ul class="nav navbar-nav navbar-right">
<li><a href="#/dashboard">My Account</a></li>
</ul>
</div><!--/.nav-collapse -->
</div>
</div>
<div class="container">

<label>marital status: </label>
<select>
	<option>Single</option>
	<option>Married filing jointly</option>
	<option>Married filing Separately</option>
	<option>Head of household</option>
	<option>Qualifying Widow</option>
</select><br>
<input type="text" placeholder="How many kids do you have?"><br>
Are any of them < 17?
<form>
	<input type="radio" name="binary" value="yes" checked>Yes
	<input type="radio" name="binary" value="no">No
</form>

<input type="text" placeholder="Total income"><br>
Do you have any other source of income, or nah?
<input type="text" placeholder="alternative income">
<input type="text" placeholder="alternative income">

</div>
