<div class="navbar navbar-default navbar-static-top" role="navigation">
<div class="container">
<div class="navbar-header">
<a class="navbar-brand" href="#/dashboard">EZTax</a>
</div>
<div class="navbar-collapse collapse">
<ul class="nav navbar-nav">
<li class="active"><a href="#/dashboard">Home</a></li>
<li><a href="#/dashboard">FAQ</a></li>
<li><a href="#/dashboard">Contact</a></li>
</ul>
<ul class="nav navbar-nav navbar-right">
<li><a href="#/dashboard">My Account</a></li>
</ul>
</div><!--/.nav-collapse -->
</div>
</div>

<div class="container"></div>