<div>
  <h3>In the News</h3>
  <h4>Forbe</h4>
  <p>"EasyTaxUSA's pricing includes all the schedules and deductions an individual might need: rental or
    independent contractor income, home ownership and energy credit deductions, and more."</p>
  <h4>TODay</h4>
  <p>EasyTax actually exceeds the capabilities of some fancier free software by accommodating homeowners, investors, self-employed professionals, and taxpayers claiming dependents."</p>
  <h4>ABC News</h4>
  <p>"EasyTax offer(s) free tax preparation and filing."</p>
</div>
