<div>
<h2>About Easy Tax</h2>
<h2>Fast Growing</h4>
<p>EasyTax is an online tax preparation website, Inc.
Founded in 2014 by a CPA and a team of professional software developers,
FreeTaxUSA is one of the fastest growing tax websites online today. Easy Tax is an original member of the IRS
Free File Alliance and an authorized IRS
e-file provider. We have securely filed millions of federal tax returns with the IRS.</p>
<h2>Rigorously Tested</h2>
<p>Each tax year, the EasyTax team of tax analysts updates our software to the latest federal and state standards.
We incorporate new credits, deductions, and changes to the tax code. Once our software is updated,
it goes through a rigorous testing and approval process with the IRS and each state.
This ensures that EasyTax is ready for the new tax season.</p>

<h2>100% American</h2>
<p>EasyTaxUSA is 100% made in America. All employees (including all customer service representatives) live and work in the United States.
When you file your taxes with EasyTaxUSA, you're supporting American families and creating American jobs.</p>
</div>
